/* ---- Media Settings ---- */

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

@media screen and (max-width: 600px) {
    .navbar__menu li {
        display: none;
    }

    .navbar__menu a.javnav {
        float: right;
        display: block;
        font-size: 50px;
    }

    .navbar__menu.responsive li {
        position: relative;
    }

    .navbar__menu.responsive a.javnav {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar__menu.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

/* ---- Basic Settings ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgb(125, 224, 176) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Typeography */
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}


h2 {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.4em;
    color: #eee;
}

/* ---- Layout ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* Navigation */
.navbar__menu ul {
    padding-left: 20px;
    margin: 20px;
    text-align: right;
}

.navbar__menu li {
	padding: 20px;
    display: inline-block;
	background-color: rgba(0,13,60,1);
	font-weight: bolder;
	text-decoration: none;
    
}

/* Active Class */
#navbar__list a:hover {
    color: white;
}

#navbar__list a:visited {
    color: white;
}

#navbar__list li.active{
	background-color: rgb(136,203,171);
}

a {
	text-decoration: none;
    color: white;
}

/* Javascript Menu */
.navbar__menu a.javnav {
    display: none;
}

/* Header */
.page__header {
    background: rgba(0,13,60,1);
    position: fixed;
	top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer*/
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/*Container  */
.landing__container {
    padding: 1em;
    text-align: left;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Section Active Class */
.your-active-class {
    background-color: rgb(136,203,171);
	animation: rotate 8s linear 0s infinite forwards;
}

/* Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}